@import url('nav.css');  /*nav bar styling*/



body {font-family: Garamond;
	  font-size:16px;
}

hr {
	width:95%;
	text-align:left;
	margin-left:0;
	color:#A30000;
	margin-top: 5%;
	margin-bottom: 5%;
}

h2 {
	color: #A30000;	
}
h3{
	color: #A30000;
}
p {
	color:#B2B2B2;
}
h4 {
	margin: 0;
	color:#B2B2B2;
	padding-top: 40px;
}
a {
	color:#EBC633;
}
a:hover{
	color:#FF9933;
}
#foot{	
	position: absolute;
	text-align: center;
	color: #A30000/*#b2b2b2*/;
	font-size: .8em;
	bottom: 3px;
}

.container{
	position: relative;
	margin-left:30%;
	margin-top:2.5%;
	width: 35%;
	height: 70%; /*adjusts 'card' length*/
	min-width: 250px;
	min-height: 500px;

	/*box-shadow: 0px 0px 15px #888888;*/
/*	padding-left: .5%;
	padding-right: .5%;
	padding-top:.5%;*/
	padding:5px 50px 5px; /* .was 50*/

	color: #FFF;
	transition: box-shadow 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.52);
	/*background:#e91e63;*//*#009688;#91092A;*/
}
.above {	/*color: white;*/
	position: relative;
	margin-left:30%;
	margin-top:2.5%;
	width: 35%;
	padding:5px 50px 5px; /* .was 50*/
	min-width: 250px;


	color: #FFF;
	transition: box-shadow 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.52);
	/*background:#e91e63;*//*#009688;#91092A;*/
}
.above#adjust_above_1{	margin-left:15%; }
.above#adjust_above_2{	margin-left:100%; }


.above > h2{color: white;}

.container.wel{ /*added to manage the 'welcome.html page'*/
	height: 40%; /*adjusts 'card' length*/
	background:url(https://lilithluciferandlarry.files.wordpress.com/2013/07/crumpled_lined_white_paper.jpg);
}

#fadediv{  padding-top: 30px;}

#fadein{
	position:absolute;
	opacity: 0;
	border-width: 3px;
	border-style: solid;
	border-color: #A30000;
	background-color: white;
	font-weight: bold;
	color: #A30000;
}
#fadeout{
	position:absolute;
	opacity: 1;
	border-width: 3px;
	border-style: solid;
	border-color: #b2b2b2;
	background-color: white;
	font-weight: bold;
	color: #b2b2b2;
}
select{
	position:relative;
	min-width:50%;
}
input:not([type=submit]){
	/*border-style: solid
	;border-color: #E6E6E6;
	color: #E6E6E6;*/
  
  width: 50%;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
  outline-width: 0;/*no glowy border yay!*/
}
input[type="checkbox"],
input[type="radio"]
{
    display: none;
}
#coursechoosing tr
{
	margin-left : -.2em;
	margin-bottom : .1em;
}
#coursechoosing th
{
	color : #A30000;
}
#coursechoosing td{
	padding: 2px;
}
label
{
	color : #b2b2b2;
	border-bottom-style: solid;
	border-bottom-width: .1px;
	border-bottom-color: #A30000;
}
label:hover
{
	color : #000000;
}
input[type="checkbox"]:checked  + label,
input[type="radio"]:checked + label
{
	color: #A30000;
	
}
input[type="text"], input[type="password"]
{
	width: auto;
	overflow : visible;
	float: right;
	display : flex;
	color: #b2b2b2;
}
input[type="text"]:focus, input[type="password"]:focus
{
	color : #A30000;
	font-style: italic;
}
input:not([type=submit]):focus{
/*	border-color: #EBC633;
	border-style: solid;
	box-shadow: 2px;
	color: #E6E6E6;*/
	border-bottom: solid 2px #A30000/*#969696*/;
}

/* creating styles for main.html below*/


.container#content{	
	margin-left:15%;
}

.container#sidekick{
	margin-left:100%
}

.container#adduser{
	min-height: 1050px;

}


