body {font-family: Garamond }

hr {
	width:95%;
	text-align:left;
	margin-left:0;
	color:#A30000;
	margin-top: 5%;
	margin-bottom: 5%;
}

h2 {
	color: #A30000;	
}
h3{
	color: #A30000;
}
p {
	color:#B2B2B2;
}
h4 {
	margin: 0px;
	color:#B2B2B2;
}
a {
	color:#EBC633;
}
a:hover{
	color:#FF9933;
}
#foot{	
	position: relative;
	text-align: center;
	color: #b2b2b2;
	font-size: .8em;
	bottom: -15%;
}

#container{
	position: relative;
	margin-left:30%;
	margin-top:2.5%;
	width: 35%;
	height: 70%; /*adjusts 'card' length*/

	/*box-shadow: 0px 0px 15px #888888;*/
/*	padding-left: .5%;
	padding-right: .5%;
	padding-top:.5%;*/
	padding:5px 50px 5px; /* .was 50*/

	color: #FFF;
	transition: box-shadow 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.52);
	background:/*#e91e63;*//*#009688;#91092A;*/
}
#above{
	position: relative;
	margin-left:30%;
	margin-top:2.5%;
	width: 35%;
	padding:5px 50px 5px; /* .was 50*/

	color: #FFF;
	transition: box-shadow 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.52);
	background:/*#e91e63;*//*#009688;#91092A;*/
}

#container.wel{ /*added to manage the 'welcome.html page'*/
	height: 40%; /*adjusts 'card' length*/
	background:url(https://lilithluciferandlarry.files.wordpress.com/2013/07/crumpled_lined_white_paper.jpg);
}

#fadein{
	position:fixed;
	opacity: 0;
	border-width: 3px;
	border-style: solid;
	border-color: #A30000;
	background-color: white;
	font-weight: bold;
	color: #A30000;
}
#fadeout{
	position:fixed;
	opacity: 1;
	border-width: 3px;
	border-style: solid;
	border-color: B2B2B2;
	background-color: white;
	font-weight: bold;
	color: #b2b2b2;
}
input:not([type=submit]){
	border-style: solid;
	border-color: #E6E6E6;
	color: #E6E6E6;
}
input:not([type=submit]):focus{
	border-color: #EBC633;
	border-style: solid;
	box-shadow: 2px;
	color: #E6E6E6;
}




